header {
  background-image: url("../image/header.jpeg"); height: 700px;
  background-size: cover;
  text-align: center;
  background-attachment: fixed;
  margin-bottom: 50px;
}
.top {
  color: black;
  padding-top: 50px;
  font-weight: bolder;
}
.mouseClick{
	cursor: pointer;
  padding-top: 140px;
  font-weight: bolder;
  color: blue;
}
body {
  background-color: black;
  color: white;
  text-align: center;
  font-style: italic;
}
.container {
  margin-bottom: 50px;
}
#show-contact {
  display: none;
}

.contact {
  cursor: pointer;
  color: #0088cc;
}

.contact:hover {
  text-decoration: underline;
} 
#order-pizza {
  color: black;
} 
.jumbotron {
  background-image: url("../image/kato.jpg");
  background-size: cover;
  background-attachment: fixed;
}
